---
import TestCounter from '../components/TestCounter.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Service Website Template</h1>
		<p>Astro 5.15.3 + Svelte 5.43.2 Integration Test</p>
		<TestCounter client:load />
	</body>
</html>
